@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import "./colors";

body {
  height: 100vh;
  background: $capgemini-blue;
  color: $white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: #ff304c;

  &:hover {
    color: darken(#ff304c, 10%);
  }
}

.btn {
  font-family: Ubuntu, sans-serif;
  font-weight: bolder;
}