<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{ currentQuestion.title }}</h1>
      <p>
        {{ currentQuestion.description }}
      </p>
      <div *ngFor="let option of currentQuestion.options; let i = index">
        <input
          type="radio"
          [value]="i"
          [(ngModel)]="chosenOptionIndex"
          name="chosenOption"
          (change)="onOptionSelected()"
        />
        <label>{{ option }}</label>
      </div>
    </div>
  </div>
</div>
